<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
        
    </head>

    <body>
        <button id="on" style="width:45%;height:30vh;">On</button>
        <button id="off" style="width:45%;height:30vh;">Off</button>

	<input title="Red" id="red" type="text"/>
	<input title="Green" id="green" type="text"/>
	<input title="Blue" id="blue" type="text"/>
	<button id="submit">Submit</button>
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
</html>
